<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Some website</title>
</head>
<body>
{{> header}}
<p>Following are the projects we are handling at present</p>

{{> footer}}
</body>
</html>